{% load static %}
<!-- a start of header -->
<header>
<div class="w-full m-fix bg-white shadow-l" >
<nav class="flex justify-between">
    <ul class="flex center ">
    <a href="#" class="center m-5"><li>Feutres</li></a>
    <a href="#" class="center m-5"><li>Privecy</li></a>
    {% if user.is_authenticated %}
    <a href="{% url "staff:panel" %}" class="center m-5"><li>Panel</li></a>
    {% endif %}
    {% if user.is_authenticated %}
    <a href="{% url "account:logout" %}" class="center m-5 bg-green-100 rounded-xl p-3"><li>Logout</li></a>
    {% else %}
    <a href="{% url "account:register" %}" class="center m-5 bg-green-200 rounded-xl p-3"><li>Register</li></a>
    <a href="{% url "account:login" %}" class="center m-5 bg-green-300 rounded-xl p-3"><li>Login</li></a>
    {% endif %}
    </ul>
    <a href="{% url 'company:home' %}"><img src="{% static "images/logo.png" %}" width="100" height="100" alt="Logo of Company"></a>
</nav>
</div>
</header>