{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="center w-full h-full _section1 text-center flex">
<h1 class="text-4xl _back_titile_effects shadow-xl">Your choose isn't accidental</h1>
</div>
<section class="flex center m-5 p-5">
<img src="{% static "images/panel.svg" %}"  alt="">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, veniam? Recusandae magnam illo sequi rem dolore consectetur exercitationem accusamus quam cumque sapiente, ratione illum voluptate itaque, voluptatum nostrum quidem natus in quasi distinctio laborum esse. Quibusdam voluptatum a facilis soluta qui amet possimus sequi laboriosam. Repellat corrupti expedita placeat saepe nostrum enim optio. Reiciendis, libero. Accusantium autem rerum officiis molestiae.</p>
</section>
<footer class="flex center bg-gray-700 text-white text-l">
<p>All rights reserved. @{% now "Y" %}</p>
<p>The Pac company</p>
</footer>
{% endblock %}